<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>22BCS13876@cuchd.in</AccountUsername>
    <ApiMToolType>SwashBuckle</ApiMToolType>
    <ApiSpecificationFile>swagger.json</ApiSpecificationFile>
    <AzureServiceName>greenwebsitedemo12</AzureServiceName>
    <AzureServiceResourceGroup>NewCG</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/4dc53036-012d-4026-b35e-60dc759c9dd2/resourceGroups/NewCG/providers/Microsoft.Web/sites/greenwebsitedemo12</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>4dc53036-012d-4026-b35e-60dc759c9dd2</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Azure for Students</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/4dc53036-012d-4026-b35e-60dc759c9dd2/resourceGroups/NewCG/providers/Microsoft.Web/sites/greenwebsitedemo12 (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>8.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <DoNotUseSPN>true</DoNotUseSPN>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceApiMGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceApiMWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectName>WebAspIn</ProjectName>
    <ProjectOutputPath>publish</ProjectOutputPath>
    <ProjectPath>WebAspIn</ProjectPath>
    <SiteUrlToLaunchAfterPublish>https://greenwebsitedemo12.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SwashBuckleAspNetCoreCliVersion>8.1.1</SwashBuckleAspNetCoreCliVersion>
    <SwashBuckleDotNetCoreVersion>8.x</SwashBuckleDotNetCoreVersion>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>34bd8bed-2ac1-41ae-9f08-4e0a3f11706c</TenantId>
  </PropertyGroup>
</Project>