<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormsApp1.Properties.Settings.cgConnectionString"
            connectionString="Data Source=LAPTOP-KJKVS3G4\SQLEXPRESS;Initial Catalog=cg;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>